@use '_variables.scss' as *;
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $nav-height;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;

    .navbar-menu {
      display: flex;
      text-align: center;
      gap: 1.5rem;
      list-style: none;

      li a {
        text-decoration: none;
        color: $primary-white;
        font-size: 1.3rem;
        font-weight: 500;
        padding: 3px 20px;
        border-radius: 20px;
        border: 2px solid transparent;
        transition: all $transition-speed ease;
        white-space: nowrap;

        &:hover {
          color: $hover-color;
          background: $hover-bg;
          border: 2px solid $hover-border;
        }
      }
    }
  }

  &-logo {
    font-size: 2rem;
    font-weight: 600;
    color: $primary-white;
    text-decoration: none;
    cursor: pointer;
  }
}

