@use '_variables' as *;

#card, #card1 {
  width: 300px;
  height: 150px;
  background-color: $card-color;
  border-radius: 5px;
  position: fixed;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;

  // Feedback visual ao clicar
  &:active {
    cursor: grabbing;
    filter: brightness(0.9);
  }
}

/* Estilo do card */
.card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 900px;
    text-align: center;
}

