@use '_variables.scss' as *;
@use '_footer.scss' as *;
@use '_navbar.scss' as *;
@use 'reset.scss' as *;
@use 'responsive' as *;

body {
  min-height: 100vh;
}

#container {
  height: 90vh;
  background-color: $bg-color;
}

#card {
  width: 100px;
  height: 100px;
  background-color: $card-color;
  border-radius: 5px;
  position: fixed;
  cursor: grab;

  // Feedback visual ao clicar
  &:active {
    cursor: grabbing;
    filter: brightness(0.9);
  }
}