@use '_variables.scss' as *;
@use '_footer.scss' as *;
@use '_navbar.scss' as *;
@use 'reset.scss' as *;
@use 'responsive' as *;

body {
  min-height: 100vh;
    background-color: #212228;
  background-image: linear-gradient(#292a30 .1em, transparent .1em),
 linear-gradient(90deg, #292a30 .1em, transparent .1em);
  background-size: 4em 4em;
  margin: 0;
  padding: 0;
}

#container {
  height: 90vh;
//  background-color: $bg-color;
}

#card {
  width: 100px;
  height: 100px;
  background-color: $card-color;
  border-radius: 5px;
  position: fixed;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;

  // Feedback visual ao clicar
  &:active {
    cursor: grabbing;
    filter: brightness(0.9);
  }
} 

